<!-- Page that displays a form where the website's admin can be able to add more medication to the list -->
<!-- Page Navigation -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

     <link rel="stylesheet" href="/css/style1.css">

</head>
<body>
     
    <header class="header">

        <a href="#" class="logo"> <i class="fas fa-heartbeat"></i> Health care Tech. </a>
    
        <nav class="navbar">
            <a href="/">Logout</a>
        </nav>
    </header> 
    

    <section class="services" id="services">
        
    
        <h1 class="heading"> List of  <span>Medications</span> </h1>
        <div class="image">
            <img src="image1/dash.svg" alt="">
        </div>
  
    
        <div class="box-container">
    
            <div class="box">
                <i class="fas fa-pills"></i>
                <h3>Paracetamol</h3>
                <p>trial</p>
                <a href="#" class="btn"> In stock <span class="fas fa-chevron-right"></span> </a>
                <a href="#1" class="btn2"> Out of Stock<span class="fas fa-chevron-right"></span> </a>
            </div>
    
            <div class="box">
                <i class="fas fa-pills"></i>
                <h3>Amoxicillin</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ad, omnis.</p>
                <a href="#" class="btn"> In stock <span class="fas fa-chevron-right"></span> </a>
                <a href="#1" class="btn2"> Out of Stock<span class="fas fa-chevron-right"></span> </a>
            </div>
    
            <div class="box">
                <i class="fas fa-pills"></i>
                <h3>Panadol</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ad, omnis.</p>
                <a href="#" class="btn"> In stock <span class="fas fa-chevron-right"></span> </a>
                <a href="#1" class="btn2"> Out of Stock<span class="fas fa-chevron-right"></span> </a>
            </div>
    
            <div class="box">
                <i class="fas fa-pills"></i>
                <h3>Ibuoprofen</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ad, omnis.</p>
                <a href="#" class="btn"> In stock <span class="fas fa-chevron-right"></span> </a>
                <a href="#1" class="btn2"> Out of Stock<span class="fas fa-chevron-right"></span> </a>
            </div>
    
            <div class="box">
                <i class="fas fa-pills"></i>
                <h3>Adderall</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ad, omnis.</p>
                <a href="#" class="btn"> In stock <span class="fas fa-chevron-right"></span> </a>
                <a href="#1" class="btn2"> Out of Stock<span class="fas fa-chevron-right"></span> </a>
            </div>
    
            <div class="box">
                <i class="fas fa-pills"></i>
                <h3>Amlodipine</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ad, omnis.</p>
                <a href="#" class="btn"> In stock <span class="fas fa-chevron-right"></span> </a>
                <a href="#1" class="btn2"> Out of Stock<span class="fas fa-chevron-right"></span> </a>
            </div>
    
        </div>
    
    </section>

 </body>
</html>